@font-face {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Larsseit.woff2");
}

@font-face {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Larsseit-Medium.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size settings */
  font-size: 62.5%;

  overflow-x: hidden;
}

body {
  font-family: "Larsseit", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.logo {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: #62d0df;
  letter-spacing: -0.024em;
}

.z-pattern {
  display: grid;
  grid-template-columns: auto 1fr;
}

.z-pattern-img {
  width: 48rem;
  height: 80rem;
}

.z-pattern-text {
  font-weight: 500;
  padding-top: 10.7rem;
  padding-bottom: 5.2rem;
  display: grid;
  grid-template-columns: 1fr;
}

.z-pattern-heading {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.06em;
}

.z-pattern-link:link,
.z-pattern-link:visited {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.1em;
  text-decoration: none;

  align-self: end;
}

/* HELPER/SETTINGS CLASSES */

.margin-top-logo {
  margin-top: 0.3rem;
}

.margin-top-main-nav-list {
  margin-top: 1.2rem;
}
