/**************************/
/* HEADER */
/**************************/

.container {
  background-image: linear-gradient(to right, #f4f9e2 71%, #fff 29%);
}

.header {
  max-width: 144rem;
  padding: 2.7rem 13.1rem 0 17.9rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 999;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 70.2rem;
}

.main-nav-list {
  display: flex;
  gap: 2.6rem;
  list-style: none;
}

.main-nav-link {
  position: relative;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #22356f;
}

.main-nav-link:hover:after,
.main-nav-link:active:after,
.main-nav-link-active::after {
  content: "";
  display: block;
  width: 130%;
  height: 0.1rem;
  background: #22356f;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-15%, 1rem);
}

.main-nav-btn {
  border: none;
  width: 15rem;
  height: 5rem;
  background: #62d0df;
  border-radius: 5rem;
}

.main-nav-btn a:link,
.main-nav-btn a:visited {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: "Larsseit", sans-serif;
  font-weight: 500;
  color: #fff;
}

/**************************/
/* HERO SECTION */
/**************************/

.hero {
  max-width: 144rem;
  padding: 16.7rem 0 7.7rem 17.9rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 13.3rem;
  justify-content: space-between;
}

.hero-content-box {
  max-width: 47rem;
}

.hero-heading {
  font-size: 4.8rem;
  line-height: 5.9rem;
  letter-spacing: -0.027em;
  color: #22356f;
  margin-top: 3.7rem;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 4.6rem;
  color: #22356f;
  margin-top: 5.7rem;
}

.hero-cta {
  display: flex;
  gap: 0.9rem;
  margin-top: 4.8rem;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.11em;
  text-decoration: none;
  padding: 1.3rem 3rem 1.4rem 3rem;
}

.btn--full:link,
.btn--full:visited {
  background-color: #f9b640;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  color: #fab63e;
}

.hero-img-box {
  max-width: 100%;
  position: relative;
}

.hero-img {
  width: 80.771rem;
  height: 54.493rem;
  border-radius: 31.2159rem;
  background: #ffe2de;
  overflow: hidden;

  position: absolute;
  z-index: 2;
  top: -13.2rem;
  left: 0;
  transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}

.hero-img-box::before {
  content: "";
  display: block;
  width: 80.771rem;
  height: 54.493rem;
  border-radius: 31.2159rem;
  background: #edfdff;

  position: absolute;
  transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  z-index: 1;
  top: -19.5rem;
  left: -1.4rem;
}

.hero-img::after {
  content: "";
  display: block;
  width: 140%;
  height: 140%;
  background: linear-gradient(
      213.71deg,
      #ffffff 11.23%,
      rgba(255, 255, 255, 0) 48.4%
    ),
    url(/img/linkedin-sales-navigator-406825.webp);
  background-size: 100%;
  transform: scaleX(-1) rotate(30deg) translate(-7%, -23.5%);
}

/**************************/
/* WHY US SECTION */
/**************************/

.why-us-section {
  background-color: #62d0df;
}

.why-us {
  max-width: 144rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto auto;
  gap: 18.1rem;
}

.why-us-text-box {
  padding: 16.1rem 0 0 17.8rem;
  color: #fff;
}

.why-us-heading-secondary {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 2.7rem;
  letter-spacing: 0.005em;
}

.why-us-description {
  font-size: 2rem;
  line-height: 3.3rem;
  font-weight: 400;

  margin-top: 8.6rem;
}

.why-us-subtitle {
  font-size: 2.4rem;
  line-height: 3.8rem;
  letter-spacing: 0.008em;
  font-weight: 500;
}

.why-us-img-box {
  width: 52.5rem;
  height: 60.4rem;

  background: url(/img/christopher-campbell-40367.webp);
  background-size: cover;
  background-position: 50% center;
}

/**************************/
/* ABOUT US SECTION */
/**************************/

.about-us {
  max-width: 144rem;
  margin: 0 auto;
  padding: 12.5rem 10.6rem 0 10.6rem;
  display: flex;
  flex-direction: column;
}

.about-us-header {
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #22356f;

  transform: translate(0, 130%);
}

.about-us-description {
  align-self: center;
  width: 59.2rem;
  font-size: 2.4rem;
  line-height: 3.7rem;
  letter-spacing: 0.011em;
  color: #22356f;
}

/**************************/
/* FEATURES SECTION */
/**************************/

.features {
  max-width: 144rem;
  margin: 0 auto;
  padding-top: 6.7rem;
  padding-bottom: 12rem;
}

.features-header {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
}

.features-items {
  margin-top: 2.5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.features-item-box {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-item-border {
  width: 25.5rem;
  height: 7.2rem;
  box-shadow: inset 0px -1px 0px #ffffff;
}

.features-description {
  display: flex;
  margin-top: 2.6rem;
}

.features-description p {
  color: #fff;
  font-size: 3.2rem;
  line-height: 3.7rem;
  letter-spacing: 0.015em;
  margin-left: 1.6rem;
}

.cicle {
  margin-top: 1rem;
  width: 0.9rem;
  height: 0.9rem;
  background: #e9b730;
  border-radius: 50%;
}

.pink {
  background-color: #ffe2de;
}

.green {
  background-color: #c4e769;
}

.light-blue {
  background-color: #62d0df;
}

.blue {
  background-color: #0052c1;
}

/**************************/
/* FEATURES SECTION */
/**************************/

.options {
  max-width: 144rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.options-item-box {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-item-border {
  width: 34rem;
  height: 9.6rem;
  box-shadow: inset 0px -1px 0px #fff;
}

.options-description {
  margin-top: 3.3rem;
  display: flex;
  gap: 2.2rem;
  align-self: flex-start;
}

.options-cicle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #e9b730;
  margin-top: 1.4rem;
}

.options-description p {
  font-size: 3.2rem;
  line-height: 3.7rem;
  letter-spacing: 0.014em;
  color: #fff;
}

.dark-blue {
  background-color: #22356f;
}

.strawberry {
  background: url(/img/joanna-kosinska-340748.webp);
  background-position: 41% center;
  background-size: 150%;
}

.light-purple {
  background-color: #dee1ff;
}

.purple {
  background-color: #8f00ff;
}
