/**************************/
/* HEADER */
/**************************/

.container {
  background-image: linear-gradient(to right, #f4f9e2 71%, #fff 29%);
}

.header {
  max-width: 144rem;
  padding: 2.7rem 13.1rem 0 17.9rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 999;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 70.2rem;
}

.main-nav-list {
  display: flex;
  gap: 2.6rem;
  list-style: none;
}

.main-nav-link {
  position: relative;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #22356f;
}

.main-nav-link:hover:after,
.main-nav-link:active:after,
.main-nav-link-active::after {
  content: "";
  display: block;
  width: 130%;
  height: 0.1rem;
  background: #22356f;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-15%, 1rem);
}

.main-nav-btn {
  border: none;
  width: 15rem;
  height: 5rem;
  background: #62d0df;
  border-radius: 5rem;
}

.main-nav-btn a:link,
.main-nav-btn a:visited {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: "Larsseit", sans-serif;
  font-weight: 500;
  color: #fff;
}

/**************************/
/* HERO SECTION */
/**************************/

.hero {
  max-width: 144rem;
  padding: 16.7rem 0 7.5rem 17.9rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 13.3rem;
  justify-content: space-between;
}

.hero-content-box {
  max-width: 47rem;
}

.hero-heading {
  font-size: 4.8rem;
  line-height: 5.9rem;
  letter-spacing: -0.027em;
  color: #22356f;
  margin-top: 3.7rem;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 4.6rem;
  color: #22356f;
  margin-top: 5.7rem;
}

.hero-cta {
  display: flex;
  gap: 0.9rem;
  margin-top: 4.8rem;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.11em;
  text-decoration: none;
  padding: 1.3rem 3rem 1.4rem 3rem;
}

.btn--full:link,
.btn--full:visited {
  background-color: #f9b640;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  color: #fab63e;
}

.hero-img-box {
  max-width: 100%;
  position: relative;
}

.hero-img {
  width: 80.771rem;
  height: 54.493rem;
  border-radius: 31.2159rem;
  background: #ffe2de;
  overflow: hidden;

  position: absolute;
  z-index: 2;
  top: -13.2rem;
  left: 0;
  transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}

.hero-img-box::before {
  content: "";
  display: block;
  width: 80.771rem;
  height: 54.493rem;
  border-radius: 31.2159rem;
  background: #edfdff;

  position: absolute;
  transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  z-index: 1;
  top: -19.5rem;
  left: -1.4rem;
}

.hero-img::after {
  content: "";
  display: block;
  width: 140%;
  height: 140%;
  background: linear-gradient(
      213.71deg,
      #ffffff 11.23%,
      rgba(255, 255, 255, 0) 48.4%
    ),
    url(/img/linkedin-sales-navigator-406825.webp);
  background-size: 100%;
  transform: scaleX(-1) rotate(30deg) translate(-7%, -23.5%);
}
